<!DOCTYPE html>
<html lang="en">
<head>
        
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" media="screen" href="style/login.css" />
        <script src="js/login.js" type="text/javascript"></script>
</head>
<body>

    <div class="loginbox">
        <img src="pictures\download.jpg" class="prathibha">
            <h1>login here</h1>	
            <form name="form"  method="post" onsubmit="return validationform()">
                <p>email</p>
                <input type="text" name="emailid" placeholder="enter email">
                <p>password</p>
                <input type="text" name="pass" placeholder="enter password"><br><br>
                <input type="submit" name="" value="login"><br><br>
                <a href="#">forgot password</a><br><br>
                <a href="#">don't have a account</a>
            </form>
        </div>
</body>
</html>